{{!-- Create new options modal --}}
<div class="card hidden">
    <form class="card-body" data-type="add">
        <h3 class="card-title">Add or Update Post</h3>
        <div>
            <h5>Title:</h5>
            <input class="inputBox updateTitle" type="text">
        </div>
        <div>
            <p>Content:</p>
            <input class="inputBox updateContent" type="text">
        </div>
        <button type="button" class="cancelBtn">Cancel</button>
        <button type="submit">Submit</button>
    </form>
</div>

<div class="addBtnSection">
    <button class="addBtn">Add Post</button>
</div>

<div class="postsSection">
    {{#each posts as |post|}}
    <div class="postContainer">
        <div>
            <div class="postTitle col-12">
                <h6 class="title" data-postid="{{post.id}}">{{post.title}}</h6>
                <span>Posted by {{post.user.username}} on {{format_date post.updatedAt}}</span>
            </div>
            <div class="postContent col-12">
                <h2 class="content" data-postid="{{post.id}}">{{post.content}}</h2>
            </div>
        </div>

        {{!-- Hidden modification section --}}
        <div class="modification hidden col-12">
            <button class="updateBtn" data-postid="{{post.id}}">Update</button>
            <button class="deleteBtn" data-postid="{{post.id}}">Delete</button>
        </div>

        {{#each post.comments as |comment|}}
        <div class="commentStyle col-12">
            <p class="commentText">{{comment.comment}}</p>
            <p class="commentInfo">{{comment.user.username}}<span>{{format_date comment.updatedAt}}</span></p>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>

{{#if logged_in}}
<script src="/js/dashboard.js"></script>
{{/if}}